@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Inter&family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.section {
    background-image: url(/src/pages/image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: calc(100% - 305px);
    position: relative;
}

.section::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000055;
}

.idk {
    background-image: url(/src/pages/image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: calc(100% - 305px);
    position: relative;
}

.sportsSelector {
    margin-top: 100px;
    display: grid;
    padding: 15px;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.sportBox {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageFootball.png);
    background-color: #22222279;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.sportBox2 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageBaseball_50.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;


}


.sportBox3 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageBasketball_50.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sportBox4 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageCheerleader.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sportBox5 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageRunner_50.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sportBox6 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageSoccerball_50.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sportBox7 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageTennisball_50.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sportBox8 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageVolleyball_75.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

.cross_country {
    background-image: url(/src/pages/imageCross.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: calc(100% - 305px);
    position: relative;
    background-color: grey;
    background-blend-mode: multiply;
}

.cross_country::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
}

.cross_country h1 {
    color: white;
    font-family: Lato;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 100px;

}
.cross_country p {
    color: white;
    padding-left: 40px;
    font-family: Inter;
    font-size: 20px;
}

.card1 {
    margin-top: 60px;
    background-color: #232323;
    margin-left:20px;
    padding: 20px;
    width: calc(100% - 40px);
    height: 350px;
    border-radius: 20px;
    display: grid;
    grid-template: 1fr 4fr / 2fr 1fr;
    grid-template-areas: "title box2",
    "box1 box2";
    grid-gap: 20px;
}
.card1 h2 {
    color: white;
    width: 100%;
    height: 100%;
}

.c1box1 {
    background-color: #343434;
     width: 100%;
     height: 100%;
     border-radius: 20px;
     grid-area: box1;
     padding: 20px;
}
.c1box2 {
    background-color: #343434;
     width: 100%;
     height: 100%;
     border-radius: 20px;
     grid-area: box2;
     padding: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.coach{
    width: 100%;
    height: 80%;
}
.c1box2 h2{
    color: white;
    font-size: 32px;
}