@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Inter&family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.section {
    background-image: url(/src/pages/image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: calc(100% - 305px);
    position: relative;
}

.section::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00000055;
}

.sportsSelector {
    margin-top: 100px;
    display: grid;
    padding: 15px;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.sportBox {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageFootball.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
}

.sportBox2 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageBaseball_50.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;


}


.sportBox3 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageBasketball_50.png);
    background-color: #22222279;
    border-radius: 15px;
}

.sportBox4 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageCheerleader.png);
    background-color: #22222279;
    border-radius: 15px;
}

.sportBox5 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageRunner_50.png);
    background-color: #22222279;
    border-radius: 15px;
}

.sportBox6 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageSoccerball_50.png);
    background-color: #22222279;
    border-radius: 15px;
}

.sportBox7 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageTennisball_50.png);
    background-color: #22222279;
    border-radius: 15px;
}

.sportBox8 {
    color: white;
    width: 80%;
    aspect-ratio: 1/1;
    background: url(/src/pages/imageVolleyball_75.png);
    background-color: #22222279;
    border-radius: 15px;
    background-repeat: no-repeat;
}

.cross_country {
    background-image: url(/src/pages/imageCross.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: calc(100% - 305px);
    position: relative;
    background-color: grey;
    background-blend-mode: multiply;
}

.cross_country::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
}

.cross_country h1 {
    color: white;
    font-family: Lato;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 100px;

}
.cross_country p {
    color: white;
    padding-left: 40px;
    font-family: Inter;
    font-size: 20px;
}

.card {
    margin-top: 60px;
    background-color: #232323;
    margin-left:20px;
    width: calc(100% - 40px);
    height: 350px;
    border-radius: 20px;
    display: flex;

}
.card h2 {
    color: white;
    padding-left: 30px;
    padding-top: 40px;
    width: 200px;
    height: 70px;

}

.box3 {
    background-color: #343434;
    float:left;
    margin-top: 15px;
    margin-left:20px;
     width: 520px;
     height: 240px;
     border-radius: 20px;
}

.box2 {
    background-color: #343434;
    float: right;
    margin-left: calc(100% - 865px);
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-top: 25px;
}
