.section {
    background: url(/src/pages/image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: calc(100% - 305px);
    position: relative;
}

.sportsSelector {
    margin-top: 100px;
    display: grid;
    padding: 15px;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.sportBox {
    color: white;
    width: 100%;
    aspect-ratio: 4/3;
    background-color: #22222234;
    border-radius: 15px;
}