@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.justify {
    display: flex;
}

.Sidebar {
    background-color: #232323;
    height: 100vh;
    width: 305px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.logo {
    padding-top: 25%;
    padding-bottom: 30px;
    font-family: Barlow;
    font-weight: 900px;
    font-size: 64px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    margin-left: auto;
    margin-right: auto;
    height: 61px;
    width: 252px;
    background-color: #343434;
    border-radius: 20px;
    transition: 0.17s;
    margin: 10px 0;
}

.nav-item:hover {
    background-color: #454545;
    outline: 2px solid #fefefe;
}

.nav-item a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    padding-top: 18px;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav-item a svg {
    width: 100%;
}

.login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
    height: 61px;
    width: 252px;
    background-color: #343434;
    border-radius: 20px;
}